<template>
  <div>
    <!-- begin::page header -->
    <div class="page-header">
   
        <router-link
        :to="{ name: 'supplier-product' }"
        class="btn btn-primary btn-sm pull-right mr-2"
        ><i class="fa fa-plus mr-2"></i> Add  Supplier Products</router-link
      >
      <h3 style="letter-spacing: 1px; font-size:16px;">Supplier Products</h3>
    </div>
    <!-- end::page header -->

    <input
      type="text"
      id="myInput"
      v-model="filter"
      placeholder="Search for suppliers..."
      title="Type in a name"
    />
    <table id="table">
      <tr>
        <th style="letter-spacing: 1px; font-size:13px;">Supplier Product ID</th>
        <th style="letter-spacing: 1px; font-size:13px;"> Supplier Name</th>
        <th style="letter-spacing: 1px; font-size:13px;">Product Name</th>
        <th style="letter-spacing: 1px; font-size:13px;">Actions</th>
      </tr>
      <tr v-for="(supplier, i) in filteredRows" :key="`supplier-${i}`">
        <td>{{ supplier.supplier_products_id }}</td>
        <td>{{ supplier.supplier_name }}</td>
         <td>{{ supplier.product_name }}</td>
        <td>{{ supplier.created_at }}</td>
        <router-link :to="{ name: 'supplier.show', params: { id: supplier.id } }">
          <td>
            <button class="btn-1">
              VIEW
            </button>
          </td>
        </router-link>
         <router-link :to="{ name: 'supplier.show', params: { id: supplier.id } }" style="margin-left:14px;">
          <td>
            <button class="btn-1">
              EDIT
            </button>
          </td>
        </router-link>
          <router-link :to="{ name: 'supplier.show', params: { id: supplier.id } }" style="margin-left:14px;">
          <td>
            <button class="btn-2">
              DELETE
            </button>
          </td>
        </router-link>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      filter: "",
      suppliers: [],
    };
  },
  computed: {
    filteredRows() {
      return this.suppliers.filter((supplier) => {
        const supplierNames = supplier.supplier_name .toString().toLowerCase();
        const searchTerm = this.filter.toLowerCase();

        return supplierNames.includes(searchTerm);
      });
    },
  },
  methods: {
    fetch() {
      this.$axios.get("/api/v1/supplier-products").then((response) => {
        this.suppliers = response.data.supplier_products;
      });
    },
  },
};
</script>
<style scoped>
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
   margin-top: 20px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(88, 88, 87);
  color: white;
}
</style>
<style scoped>
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.btn-1 {
  padding: 6px 30px;
  border-radius: 100px;
  border: solid 1px orange;
  outline: none;
  color: orange;
  transition: all 0.2s;
  background-color: #fff;
  letter-spacing: 1px;
}
.btn-1:hover {
  background-color: rgb(252, 242, 225);
  transform: scale(0.99);
}
.btn-1:active {
  transform: translateY(3px);
}
.btn-2 {
  padding: 6px 30px;
  border-radius: 100px;
  border: solid 1px rgb(255, 0, 0);
  outline: none;
  color: rgb(255, 0, 0);
  transition: all 0.2s;
  background-color: rgba(187, 179, 179, 0.596);
  letter-spacing: 1px;
}
</style>
