<template>
  <div>
    <!-- begin::page header -->
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="container">
            <h4><b>Products</b></h4>
            <p>23</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="container">
            <h4><b>Suppliers</b></h4>
            <p>9</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="container">
            <h4><b>Orders</b></h4>
            <p>5</p>
          </div>
        </div>
      </div>
    </div>

    <!-- end::page header -->
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      apps: [],
    };
  },

  methods: {
    fetch() {},
  },
};
</script>
