$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?1b60f463e2616ace9083e24da8c9205b") format("truetype"),
url("./flaticon.woff?1b60f463e2616ace9083e24da8c9205b") format("woff"),
url("./flaticon.woff2?1b60f463e2616ace9083e24da8c9205b") format("woff2"),
url("./flaticon.eot?1b60f463e2616ace9083e24da8c9205b#iefix") format("embedded-opentype"),
url("./flaticon.svg?1b60f463e2616ace9083e24da8c9205b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "add-button": "\f101",
    "app": "\f102",
    "bar-chart": "\f103",
    "bill": "\f104",
    "chat": "\f105",
    "dashboard-interface": "\f106",
    "dashboard": "\f107",
    "group-1": "\f108",
    "group": "\f109",
    "key": "\f10a",
    "keypad": "\f10b",
    "mechanical-gears": "\f10c",
    "network": "\f10d",
    "notification-1": "\f10e",
    "notification": "\f10f",
    "person-shape": "\f110",
    "profile": "\f111",
    "sale": "\f112",
    "setting": "\f113",
    "shuttle": "\f114",
    "speech-bubble": "\f115",
    "support": "\f116",
    "wallet-1": "\f117",
    "warning": "\f118",
    "web-development-1": "\f119",
    "web-development": "\f11a",
);

.flaticon-add-button:before {
    content: map-get($flaticon-map, "add-button");
}
.flaticon-app:before {
    content: map-get($flaticon-map, "app");
}
.flaticon-bar-chart:before {
    content: map-get($flaticon-map, "bar-chart");
}
.flaticon-bill:before {
    content: map-get($flaticon-map, "bill");
}
.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-dashboard-interface:before {
    content: map-get($flaticon-map, "dashboard-interface");
}
.flaticon-dashboard:before {
    content: map-get($flaticon-map, "dashboard");
}
.flaticon-group-1:before {
    content: map-get($flaticon-map, "group-1");
}
.flaticon-group:before {
    content: map-get($flaticon-map, "group");
}
.flaticon-key:before {
    content: map-get($flaticon-map, "key");
}
.flaticon-keypad:before {
    content: map-get($flaticon-map, "keypad");
}
.flaticon-mechanical-gears:before {
    content: map-get($flaticon-map, "mechanical-gears");
}
.flaticon-network:before {
    content: map-get($flaticon-map, "network");
}
.flaticon-notification-1:before {
    content: map-get($flaticon-map, "notification-1");
}
.flaticon-notification:before {
    content: map-get($flaticon-map, "notification");
}
.flaticon-person-shape:before {
    content: map-get($flaticon-map, "person-shape");
}
.flaticon-profile:before {
    content: map-get($flaticon-map, "profile");
}
.flaticon-sale:before {
    content: map-get($flaticon-map, "sale");
}
.flaticon-setting:before {
    content: map-get($flaticon-map, "setting");
}
.flaticon-shuttle:before {
    content: map-get($flaticon-map, "shuttle");
}
.flaticon-speech-bubble:before {
    content: map-get($flaticon-map, "speech-bubble");
}
.flaticon-support:before {
    content: map-get($flaticon-map, "support");
}
.flaticon-wallet-1:before {
    content: map-get($flaticon-map, "wallet-1");
}
.flaticon-warning:before {
    content: map-get($flaticon-map, "warning");
}
.flaticon-web-development-1:before {
    content: map-get($flaticon-map, "web-development-1");
}
.flaticon-web-development:before {
    content: map-get($flaticon-map, "web-development");
}
