@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1b60f463e2616ace9083e24da8c9205b") format("truetype"),
url("./flaticon.woff?1b60f463e2616ace9083e24da8c9205b") format("woff"),
url("./flaticon.woff2?1b60f463e2616ace9083e24da8c9205b") format("woff2"),
url("./flaticon.eot?1b60f463e2616ace9083e24da8c9205b#iefix") format("embedded-opentype"),
url("./flaticon.svg?1b60f463e2616ace9083e24da8c9205b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-button:before {
    content: "\f101";
}
.flaticon-app:before {
    content: "\f102";
}
.flaticon-bar-chart:before {
    content: "\f103";
}
.flaticon-bill:before {
    content: "\f104";
}
.flaticon-chat:before {
    content: "\f105";
}
.flaticon-dashboard-interface:before {
    content: "\f106";
}
.flaticon-dashboard:before {
    content: "\f107";
}
.flaticon-group-1:before {
    content: "\f108";
}
.flaticon-group:before {
    content: "\f109";
}
.flaticon-key:before {
    content: "\f10a";
}
.flaticon-keypad:before {
    content: "\f10b";
}
.flaticon-mechanical-gears:before {
    content: "\f10c";
}
.flaticon-network:before {
    content: "\f10d";
}
.flaticon-notification-1:before {
    content: "\f10e";
}
.flaticon-notification:before {
    content: "\f10f";
}
.flaticon-person-shape:before {
    content: "\f110";
}
.flaticon-profile:before {
    content: "\f111";
}
.flaticon-sale:before {
    content: "\f112";
}
.flaticon-setting:before {
    content: "\f113";
}
.flaticon-shuttle:before {
    content: "\f114";
}
.flaticon-speech-bubble:before {
    content: "\f115";
}
.flaticon-support:before {
    content: "\f116";
}
.flaticon-wallet-1:before {
    content: "\f117";
}
.flaticon-warning:before {
    content: "\f118";
}
.flaticon-web-development-1:before {
    content: "\f119";
}
.flaticon-web-development:before {
    content: "\f11a";
}
