<template>
  <div>
    <div class="row">
      <div class="col-4">
        <div class="card" style="background-color:rgb(166, 207, 189);">
          <div class="container">
            <h4><b>Products</b></h4>
            <p>23</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="background-color:rgb(220, 182, 228);">
          <div class="container">
            <h4><b>Suppliers</b></h4>
            <p>9</p>
          </div>
        </div>
      </div>
      <div class="col-4" >
        <div class="card" style="background-color:rgb(220, 220, 182);">
          <div class="container">
            <h4><b>Orders</b></h4>
            <p>5</p>
          </div>
        </div>
      </div>
    </div>

    <!-- begin::page header -->
    <div class="page-header" style="margin-top: 50px">
      <h3 style="letter-spacing: 1px; font-size: 16px">Latest Orders</h3>
    </div>
    <!-- end::page header -->
      <input
      type="text"
      id="myInput"
      v-model="filter"
      placeholder="Search for order_productss..."
      title="Type in a name"
    />
    <table id="table">
  <tr>
        <th style="letter-spacing: 1px; font-size: 13px">Order Id</th>
        <th style="letter-spacing: 1px; font-size: 13px">Order Number</th>
        <th style="letter-spacing: 1px; font-size: 13px">Product Name</th>
        <th style="letter-spacing: 1px; font-size: 13px">Created at</th>
        <th style="letter-spacing: 1px; font-size: 13px">Actions</th>
  </tr>
      <tr
        v-for="(order_products, i) in filteredRows"
        :key="`order_products-${i}`"
      >
        <td>{{ order_products.order_details_id }}</td>
        <td>{{ order_products.order_number }}</td>
        <td>{{ order_products.product_name }}</td>
        <td>{{ order_products.created_at }}</td>
        <router-link
          :to="{
            name: 'orders_details-details',
            params: { id: order_products.id },
          }"
        >
          <td>
            <button class="btn-1">VIEW</button>
          </td>
        </router-link>
      </tr>
</table>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      filter: "",
      order_products: [],
    };
  },
  computed: {
    filteredRows() {
      return this.order_products.filter((order_products) => {
        const order_productsNames = order_products.order_number
          .toString()
          .toLowerCase();
        const searchTerm = this.filter.toLowerCase();

        return order_productsNames.includes(searchTerm);
      });
    },
  },
  methods: {
    fetch() {
      this.$axios.get("api/v1/orders-details").then((response) => {
        this.order_products = response.data.order_products;
      });
    },
     fetchs() {
      this.$axios.get("api/v1/summary").then((response) => {
        this.order = response.data.orders;
      });
    },
    deleteProduct(id) {
      this.$axios
        .delete(`/api/v1/orders-details/delete/${id}`)
        .then((response) => {
          this.fetch();
        });
    },
  },
};
</script>
<style scoped>
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(88, 88, 87);
  color: white;
}
</style>
<style scoped>
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.btn-1 {
  padding: 6px 30px;
  border-radius: 100px;
  border: solid 1px orange;
  outline: none;
  color: orange;
  transition: all 0.2s;
  background-color: #fff;
  letter-spacing: 1px;
}
.btn-1:hover {
  background-color: rgb(252, 242, 225);
  transform: scale(0.99);
}
.btn-1:active {
  transform: translateY(3px);
}


</style>
