<template>
  <div>
    <div class="page-header">
      <h3 class="text-capitalize">Create App in {{ group.name }}</h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="alert alert-info">
            In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus
            rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.
            Maecenas sollicitudin est in libero pretium interdum.
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Group Name</label>
                <input type="text" readonly class="form-control" :value="group.name">
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label>App Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="App Name"
                  required
                  v-model="app.name"
                />
              </div>
            </div>
          </div>
          <div class="form-group mt-4">
            <label
              >Add a Description
              <small class="text-muted">*optional</small></label
            >
            <textarea
              rows="6"
              class="form-control"
              v-model="app.description"
              placeholder="Describe your app"
            ></textarea>
          </div>
          <div class="form-group mt-5">
            <label
              >Add an avatar for this app
              <small class="text-muted">*optional</small></label
            >
            <input type="file" class="form-control" ref="avatar" />
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch()
  },

  data() {
    return {
      app: {
        name: "",
        description: ""
      },
      group: {}
    };
  },

  methods: {
    fetch() {
      this.$axios
        .get(`/api/v1/groups/${this.$route.params.id}`)
        .then(response => {
          this.group = response.data;
        });
    },

    submit() {
      let data = new FormData();
      data.append('group_id', this.group.id)
      data.append('name', this.app.name)
      data.append('description', this.app.description)

      let avatar = this.$refs.avatar.files[0];

      if (avatar) {
        data.append('avatar', avatar)
      }

      this.$axios
        .post("/api/v1/groups/app", data, {
          headers: { "content-type": "multipart/form-data" }
        })
        .then(response => {
          this.$router.push({ name: 'apps.show', params: { id: response.data.id }})
        });
    }
  }
};
</script>
