<template>
  <div>
    <!-- begin::page header -->
    <div class="page-header">
      <router-link
        :to="{ name: 'create-product' }"
        class="btn btn-primary btn-sm pull-right mr-2"
        ><i class="fa fa-plus mr-2"></i> New Product</router-link
      >
      <h3 style="letter-spacing: 1px; font-size:16px;">Products</h3>
    </div>
    <!-- end::page header -->

    <input
      type="text"
      id="myInput"
      v-model="filter"
      placeholder="Search for products..."
      title="Type in a name"
    />
    <div style="margin:10px;">
        <button  class="btn btn-primary btn-sm pull-left" @click="downloadCsv()">
              Generate Excel Report
       </button>
    </div>
    <table id="table">
      <tr>
        <th style="letter-spacing: 1px; font-size:13px;">Product Id</th>
        <th style="letter-spacing: 1px; font-size:13px;"> Product Name</th>
        <th style="letter-spacing: 1px; font-size:13px;">Product Description</th>
        <th style="letter-spacing: 1px; font-size:13px;">Product Quantity</th>
        <th style="letter-spacing: 1px; font-size:13px;">Created at</th>
        <th style="letter-spacing: 1px; font-size:13px;">VIEW</th>
      </tr>
      <tr v-for="(product, i) in filteredRows" :key="`product-${i}`">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
         <td>{{ product.quantity }}</td>
        <td>{{ product.created_at }}</td>
           <td>
        <router-link :to="{ name: 'products-details', params: { id: product.id } }" >
       
            <button class="btn-1">
              VIEW
            </button>
          
        </router-link>
          <router-link :to="{ name: 'products.show', params: { id: product.id } }">
    
            <button class="btn-1" style="margin-left:14px;">
              EDIT
            </button>
    
        </router-link>
  
            <button class="btn-2" @click="deleteProduct(product.id)" style="margin-left:14px;">
              DELETE
            </button>
          </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      filter: "",
      products: [],
    };
  },
  computed: {
    filteredRows() {
      return this.products.filter((product) => {
        const productNames = product.name.toString().toLowerCase();
        const searchTerm = this.filter.toLowerCase();

        return productNames.includes(searchTerm);
      });
    },
  },
  methods: {
    fetch() {
      this.$axios.get("/api/v1/products").then((response) => {
        this.products = response.data.products;
      });
    },

       deleteProduct(id) {
      this.$axios
        .delete(`/api/v1/products/delete/${id}`)
        .then(response => {
        this.fetch()
        });
    },
    downloadCsv(){
 axios.get('/api/v1/export',
       {responseType: 'arraybuffer'})
   .then(response => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement('a');
        fileLink.href = fileURL;
        fileLink.setAttribute('download', 'Productss.xlsx');
       document.body.appendChild(fileLink);
       fileLink.click();
    })
    }
  },
};
</script>
<style scoped>
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(88, 88, 87);
  color: white;
}
</style>
<style scoped>
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.btn-1 {
  padding: 6px 20px;
  border-radius: 100px;
  border: solid 1px orange;
  outline: none;
  color: orange;
  transition: all 0.2s;
  background-color: #fff;
  letter-spacing: 1px;
}
.btn-1:hover {
  background-color: rgb(252, 242, 225);
  transform: scale(0.99);
}
.btn-1:active {
  transform: translateY(3px);
}
.btn-2 {
  padding: 6px 20px;
  border-radius: 100px;
  border: solid 1px rgb(255, 0, 0);
  outline: none;
  color: rgb(255, 0, 0);
  transition: all 0.2s;
  background-color: rgba(187, 179, 179, 0.596);
  letter-spacing: 1px;
}
</style>
