<template>
  <div>
    <div class="page-header">
      <h3
        style="letter-spacing: 1px; font-size:16px; text-transform: uppercase;"
      >
        Update Product
      </h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
         
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Product Name</label>
                 <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  required
                  v-model="app.name"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Product Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Quantity"
                  required
                  v-model="app.quantity"
                />
              </div>
            </div>
          </div>
          <div class="form-group mt-4">
            <label
              >Product Description
            </label
            >
            <textarea
              rows="6"
              class="form-control"
              v-model="app.description"
              placeholder="Describe your app"
            ></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      app: {
        name: "",
        description: "",
        quantity: "",
      },
    };
  },

  methods: {
      fetch() {
      this.$axios
        .get(`/api/v1/products/${this.$route.params.id}`)
        .then(response => {
          this.group = response.data;
        });
    },
    submit() {
      let data = new FormData();
      data.append("name", this.app.name);
      data.append("description", this.app.description);
      data.append("quantity", this.app.quantity);

      this.$axios
        .post(`/api/v1/products/${this.$route.params.id}`, data, {
          headers: { "content-type": "multipart/form-data" },
        })
        .then((response) => {
          this.$router.push({
            name: "products",
          });
        });
    },
  },
};
</script>
