<template>
  <div>
    <div class="page-header">
      <h3
        style="letter-spacing: 1px; font-size:16px; text-transform: uppercase;"
      >
        Products Details
      </h3>
    </div>
      <div>
    <div class="app-section-header">
    
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body" style="height: 350px">
          <div class="row">
            <div class="col-5" style="height: 90px">
              <h2>Product Name</h2>
              <p>{{group.name}}</p>
            </div>
              <div class="col-5" style="height: 90px">
                <h2>Product Quantity</h2>
                 <p>{{group.quantity}}</p>
              </div>
                <div class="col-5" style="height: 90px">
                <h2>Product Description</h2>
                 <p>{{group.description}}</p>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
         
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                 <input
                  type="hidden"
                  class="form-control"
                  placeholder="Name"
                  required
                  :value="group.id"
                  id="xyc"
                />
              </div>
            </div>
            <div class="col-6">
      
            </div>
          </div>
      
          <div class="form-group">
            <button class="btn btn-success">Place Order</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    mounted() {
    this.fetch();
  },
  data() {
    return {
      app: {
        name: "",
        description: "",
        quantity: "",
      },
        group: {},
    };
  },

  methods: {
      fetch() {
      this.$axios
        .get(`/api/v1/products/${this.$route.params.id}`)
        .then(response => {
          this.group = response.data.product;

          console.log(this.group.name);
        });
    },
    submit() {
      let data = new FormData();
      var id = document.getElementById("xyc").value
      data.append("id", id);
   
      var fordata = {
        'id':id
      }
      console.log('formdata',fordata);
      this.$axios
        .post(`/api/v1/orders-details/`, fordata, {
          headers: { "content-type": "multipart/form-data" },
        })
        .then((response) => {
          this.$router.push({
            name: "orders",
          });
        });
    },
  },
};
</script>

<style scoped>
.see {
  padding: 3rem;
  background-image: linear-gradient(
    to bottom left,
    rgb(41, 157, 245),
    rgb(0, 111, 196)
  );
  margin-right: 7rem;
  display: inline-block;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.see-1 {
  padding: 3rem;
  background-image: linear-gradient(
    to bottom left,
    rgb(2, 38, 66),
    rgb(0, 50, 88)
  );
  margin-right: 7rem;
  display: inline-block;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>