<template>
  <div>
    <div class="page-header">
      <h3
        style="letter-spacing: 1px; font-size:16px; text-transform: uppercase;"
      >
        Create Supplier
      </h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
         
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Supplier Name</label>
                 <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  required
                  v-model="app.name"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      app: {
        name: "",
  
      },
    };
  },

  methods: {
    submit() {
      let data = new FormData();
      data.append("name", this.app.name);

      this.$axios
        .post("/api/v1/supplier", data, {
          headers: { "content-type": "multipart/form-data" },
        })
        .then((response) => {
          this.$router.push({
            name: "supplier",
          });
        });
    },
  },
};
</script>
