<template>
  <div>
    <div class="page-header">
      <h3 class="text-capitalize">Suppliers Products</h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="alert alert-info">
          Assigning Products to Specific Suppliers
          </div>
        <div class="form-group mt-4">     
          <div class="col-3">
            <label>Select Supplier</label>
          </div>
          <div class="col-9">
            <select class="form-control" v-model="selected_supplier">
              <option value="0">Select supplier</option>
              <option
                v-for="(supplier, i) in suppliers"
                :value="supplier"
                :key="`app-${i}`"
                >{{ supplier.name }}</option
              >
            </select>
          </div>
          </div>
          <div class="form-group mt-4">     
          <div class="col-3">
            <label>Select Product</label>
          </div>
          <div class="col-9">
            <select class="form-control" v-model="selected_products">
              <option value="0">Select App</option>
              <option
                v-for="(product, i) in products"
                :value="product"
                :key="`app-${i}`"
                >{{ product.name }}</option
              >
            </select>
          </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch()
    this.get()
  },

  data() {
    return {
      app: {
        name: "",
        description: "",
      },
      group: {},
       selected_products: 0,
        products: [],
        selected_supplier: 0,
        suppliers: [],
    };
  },

  methods: {
       fetch() {
      this.$axios.get("/api/v1/products").then((response) => {
        this.products = response.data.products;
      });
    },
  get() {
     this.$axios.get("/api/v1/supplier").then((response) => {
        this.suppliers = response.data.suppliers;
      });
    },
    submit() {
      let data = new FormData();
      data.append('product_id', this. selected_products.id)
      data.append('supplier_id', this.selected_supplier.id)
      this.$axios
        .post("/api/v1/supplier-products", data, {
          headers: { "content-type": "multipart/form-data" }
        })
        .then((response) => {
          this.$router.push({
            name: "product-supplier",
          });
        });
    }
  }
};
</script>
