<template>
  <div>
    <div class="app-section-header">
      <h3>{{ group.name }} - Settings</h3>
    </div>
    <div class="row mt-5">
      <div class="col-9">
        <ul class="nav nav-tabs" id="settings-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="group-info-tab"
              data-toggle="tab"
              href="#group-info"
              role="tab"
              aria-controls="group-info"
              aria-selected="true"
              >Group Info</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="members-tab"
              data-toggle="tab"
              href="#members"
              role="tab"
              aria-controls="members"
              aria-selected="true"
              >Members</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="group-info"
            role="tabpanel"
            aria-labelledby="group-info-tab"
          >
            <form @submit.prevent="updateGroup">
              <div class="form-group">
                <label>Group Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Group Name"
                  required
                  v-model="group.name"
                />
              </div>
              <div class="form-group mt-4">
                <label
                  >Add a Description
                  <small class="text-muted">*optional</small></label
                >
                <textarea
                  rows="6"
                  class="form-control"
                  v-model="group.description"
                  placeholder="Describe your group"
                ></textarea>
              </div>
              <div class="mt-5 mb-4">
                <div class="row">
                  <div class="col-2">
                    <img :src="group.avatar" :alt="group.avatar" height="50px">
                  </div>
                  <div class="col-10">
                    <div class="form-group">
                      <label
                        >Add an avatar for this group
                        <small class="text-muted">*optional</small></label
                      >
                      <input type="file" class="form-control" ref="avatar" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
          <div
            class="tab-pane fade"
            id="members"
            role="tabpanel"
            aria-labelledby="members-tab"
          >
            <div class="">
              members
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      deletion_confirmation: "",
      group: {}
    };
  },

  methods: {
    fetch() {
      this.$axios
        .get(`/api/v1/groups/${this.$route.params.id}`)
        .then(response => {
          this.group = response.data;
        });
    },

    updateGroup() {
      let data = this.group;
      data.group_id = this.group.id;

      this.$axios.post(`/api/v1/groups/${this.$route.params.id}`, data).then(response => {
        
      })
    }
  },

  computed: {
    deletion_confirmed() {
      if (
        this.deletion_confirmation === this.$store.getters.getCurrentApp.name
      ) {
        return true;
      }

      return false;
    }
  }
};
</script>
