<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  mounted() {
    this.$axios.get("/api/v1/init").then((response) => {
      if (response.data.authenticated == 0) {
        this.$auth.removeToken();

        if (this.$route.name != "login") {
          window.location.href = "/login";
        }
      } else {
        this.$store.dispatch("setAuthUser", response.data.user);
      }
    });
  },
};
</script>
<style>
@import "./assets/css/flaticon.css";
</style>
