// Colors
$red: #ea4335;
$blue: #4285f4;
$black: #000000;
$white: #ffffff;
$yellow: #fbbc05;
$green: #34a853;
$text: #404040;
$facebook: #4267b2;
$twitter: #1da1f2;
$whatsapp: #34a853;
$instagram: #ea4335;
$orange: #ff7810;
$purple: #8f6fb3;

$primary: #3414bc;
$secondary: rgba(201, 0, 139, 1);
