.apps-list {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        display: block;
        background: #fff;
        padding: 10px;

        &:hover {
          background: rgb(177, 152, 152);
        }

        div {
          display: inline-block;
        }

        .image {
          width: 10%;
        }

        .name {
          width: 40%;
        }

        .role {
          width: 30%;
        }

        .created_at {
          width: 20%;
        }
      }
    }
  }
}

.app-section-header {
  margin-bottom: 1.5rem;
}

.page-loader {
  // background: rgba(#fff, .85);
  left: 250px;
  top: 55px;

  &.full {
    left: 0;
    top: 0;
  }
}

.error-logs {
  background: #f3f3f3;
  min-height: 400px;
}

.disabled {
  cursor: not-allowed;
}

.app-members-list {
  li {
    border-bottom: solid 1px #ddd;
    padding: 10px;

    div {
      display: inline-block;
    }
  }

  .image {
    width: 10%;

    img {
      width: 50px;
    }
  }

  .name {
    width: 60%;
  }

  .role {
    width: 20%;
  }

  .actions {
    width: 10%;
  }
}

#myTabContent {
  .tab-pane {
    background: #fff;
    min-height: 100px;
    padding: 20px;
  }
}

.side-menu-body > ul li a .icon {
  -webkit-text-fill-color: rgba(#404040, 0.8) !important;
}

.side-menu-body > ul li a.router-link-exact-active .icon {
  -webkit-text-fill-color: #fff !important;
}

.side-menu {
  .side-menu-body {
    ul {
      li {
        a {
          margin-bottom: 5px;

          &.router-link-exact-active {
            background: $primary;
            color: #fff;

            i {
              background: transparent;
              -webkit-text-fill-color: #fff;
            }
          }
        }
      }
    }
  }
}

.btn {
  padding: 3px 10px;
}

.badge {
  padding: 3px 10px;
  font-size: 14px;
}
