<template>
  <div class="container h-100-vh">
    <div class="row align-items-md-center h-100-vh">
      <div class="col-lg-6 d-none d-lg-block">
        <img class="img-fluid" src="/defaults/register.svg" alt="..." />
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="m-b-20">
          <h4>Tradesk</h4>
          <!-- <img src="/logo.png" class="m-r-15" width="180" alt=""> -->
        </div>
        <p>Create a new account</p>
        <form @submit.prevent="register">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control form-control-lg"
              autofocus
              placeholder="Full Name"
              v-model="user.name"
              required
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="email"
              class="form-control form-control-lg"
              placeholder="Email"
              v-model="user.email"
              required
            />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  v-model="user.password"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="Confirm Password"
                  v-model="user.password_confirmation"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="agree-to-terms"
                checked=""
                required
              />
              <label class="custom-control-label" for="agree-to-terms"
                >I agree to the Terms and Privacy.</label
              >
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">
            Create Account
          </button>
          <!-- <p class="text-right">
            <router-link :to="{ name: 'login' }" class="text-underline"
              >Already a user? Login</router-link
            >
          </p> -->
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
    };
  },

  methods: {
    register() {
      this.$axios.post("/api/v1/register", this.user).then((response) => {
        this.$auth.setToken(response.data.access_token);

        window.location.href = "dashboard/my-apps";
      });
    },
  },
};
</script>
